<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <% @customer.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
<% end %>

  <p>
    <%= f.label :first_name, "First Name" %>
    <%= f.text_field :first_name %>
  </p>

  <p>
    <%= f.label :last_name, "Last Name" %>
    <%= f.text_field :last_name %>
  </p>

  <p>
    <%= f.label :phone_number, "Phone Number" %>
    <%= f.text_field :phone_number %>
  </p>

  <p>
    <%= f.label :address, "Address" %>
    <%= f.text_field :address %>
  </p>

  <p>
    <%= f.label :zip_code, "Zip Code" %>
    <%= f.text_field :zip_code %>
  </p>

    <%= f.submit %>
<% end %> 

