<h2>
  <%= @customer.first_name %>
  <%= @customer.last_name %>
</h2>

<p>
  <%= number_to_phone(@customer.phone_number, area_code: true) %></br>
  <%= @customer.address %></br>
  <%= @customer.zip_code %></br>
</p>

<h3> Their computers: </h3>
<ol>
	<% @customer.computers.each do |computer|%>
		<li>
			<%= link_to computer.model, customer_computer_path(@customer.id, computer.id) %>
		</li>
	<% end %>
</ol>
<p>
	<%= link_to 'Add Computer', new_customer_computer_path(@customer, @computer)%>
</p>
<%= link_to "Edit", edit_customer_path(@customer) %>
<%= link_to "Delete", customer_path(@customer),
      method: :delete,
      data: { confirm: "Are you sure you want to Delete this Customer?" } %>

